a {
    cursor: pointer;
}

code {
    color: purple;
    white-space: nowrap;
}

.draggable {
    cursor: move;
}

div#club-bad-nature {
    text-align: center;
    color: red;
    font-size: 220%;
}

ul#club-warning {
    list-style-type: none;
    color: black;
    font-size: 65%;
}

/* https://www.w3.org/Style/Examples/007/color-bullets.en.html */
ul#club-warning li::before {
    content: "⚠️";
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
}

div.List {
    counter-reset: expr-num;
}

div.List > div.draggable {
    margin-top: 0.5em;
}

div.List > div.draggable:before {
    content: counter(expr-num) ")";
    counter-increment: expr-num;
}

div.List > div.draggable > span {
    margin-left: 2em;
}

div.List > div.draggable > span > div {
    display: inline;
}

